

.container-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(/images/concert_image.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 0;
  }



h1 {
  position: relative;
  font-family: Chivo; 
  font-size: 5rem;
    color: #ea3772;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: -50rem;
}


.point-title {
  position: relative;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 2px #656565;
  z-index: 1;

}
.point-description {
    position: relative;
    font-size: 2rem;
    text-align: center;
    line-height: .5;
    color: #ffffff;
    z-index: 2;
}
