.nav-button {
color: #666;
position: relative;
font-size: 2.5rem;
line-height: 26px;
padding: 1.5rem;
border-radius: 9px;
background-color: #D3D3D3;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2
  );
border: 2px solid #D3D3D3;
z-index: 5;
}

.nav-button:hover {
background: #A9A9A9;
}
.nav-button:active {
background: #D3D3D3;
}

#landing-button {
top: 45rem;
}

#library-button
{
position: relative;
bottom: -45rem;
right: -40rem;
}
