.nav-bar {
<<<<<<< HEAD
=======
 position: relative;
>>>>>>> checkpoint-bloc-jams-react-styling
  background-color: #3d3852;
   overflow: hidden;
   display: flex;
   justify-content: flex-start;
   align-items: center;
<<<<<<< HEAD
=======

>>>>>>> checkpoint-bloc-jams-react-styling
}

.nav-bar-logo {
  background-image: url(/images/bloc_jams_logo.png) no repeat;
  width: 4rem;
  margin: .5rem;
}

.nav-bar-link {
  color: #dbd9e2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar a:hover {
  background-color: #dbd9e2;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}
