<<<<<<< Updated upstream
.nav-bar {
<<<<<<< HEAD
=======
 position: relative;
>>>>>>> checkpoint-bloc-jams-react-styling
  background-color: #3d3852;
   overflow: hidden;
   display: flex;
   justify-content: flex-start;
   align-items: center;
<<<<<<< HEAD
=======

>>>>>>> checkpoint-bloc-jams-react-styling
}

.nav-bar-logo {
  background-image: url(/images/bloc_jams_logo.png) no repeat;
  width: 4rem;
  margin: .5rem;
}

.nav-bar-link {
  color: #dbd9e2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar a:hover {
  background-color: #dbd9e2;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
=======
.nav-button {
color: #666;
position: relative;
font-size: 2.5rem;
line-height: 26px;
padding: 1.5rem;
border-radius: 9px;
background-color: #D3D3D3;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2
  );
border: 2px solid #D3D3D3;
z-index: 5;
}

.nav-button:hover {
background: #A9A9A9;
}
.nav-button:active {
background: #D3D3D3;
}

#landing-button {
top: 45rem;
}

#library-button
{
position: relative;
bottom: -45rem;
right: -40rem;
>>>>>>> Stashed changes
}
